.container {
  background-color: whitesmoke;
  padding-bottom: 3rem;
}
.innerContainer {
  width: 1200px;
  margin: 0 auto;
}
.title {
  color: white;
  font-size: large;
  font-weight: bolder;
  background-color: #fab41e;
  padding: 0.5rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.contentContainer {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2.3rem;
  row-gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}
.video {
  margin-bottom: 29.2rem;
}
