.container {
  background-color: whitesmoke;
  border-bottom: solid 1px #fab41e;
}
.innerContainer {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.button {
  border: 0px;
  background-color: whitesmoke;
  cursor: pointer;
  color: grey;
  font-size: medium;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-left: 1px solid rgb(227, 226, 226);
}
.button:hover {
  background-color: #fab41e;
  color: white;
}
